[Unit]
Description=HeliumOS Ports mount service

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C /usr/ports refresh

[Install]
WantedBy=multi-user.target
