[Unit]
Description=RazorfinOS Addons mount service

[Service]
Type=oneshot
ExecStart=/usr/bin/make -C /usr/addons refresh

[Install]
WantedBy=multi-user.target
