[Desktop Entry]
Type=Application
Exec=cosmic-terminal -e bash --rcfile <(echo "source ~/.bashrc && bash -c '(set -x; distrobox --help)'")
Icon=utilities-terminal
Categories=Development;Utility
StartupNotify=true
StartupWMClass=cosmic-terminal
Keywords=distrobox;container;linux
Name=Distrobox
GenericName=Linux Container Helper
Comment=Access Linux Containers

